@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --font-playfair: var(--font-playfair);
  
  --color-brand-primary: #7a1d2f; /* Deep burgundy / marron */
  --color-brand-secondary: #d19a93; /* Warm Rose gold */
  --color-brand-light: #fffaf7; /* Soft Cream */
}

@layer utilities {
  .protect-image {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: var(--font-poppins); /* Default font is poppins */
}

h1, h2, h3, h4, .font-playfair {
  font-family: var(--font-playfair);
}
